@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<!--Index.cshtml
    Desc: Displays a list of all products(arts).
    -->
<div class="container">
    <!--Create new product button-->
    <a asp-page="Create" class="btn btn-link">+ Create</a>

    <!--Table of Products-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Ratings</th>
            </tr>
        </thead>
        <tbody>
            <!--Loop to display each product;
    each iteration makes new row-->
            @foreach (var product in Model.Products)
            {
                @if (product.Artist == "" || product.Title == "" || product.Description == "" || product.Image == "")
                {
                    continue;
                }
                else
                {
                    <tr>
                        <!--Tile for product name-->
                        <td><a class="read-link" asp-page="Read" asp-route-id="@product.Id">@product.Title</a></td>

                        <!--Tile for product's artist'-->
                        <td>@product.Artist</td>

                        <!--Tile for product's ratings'-->

                        @if(product.Ratings != null)
                        {
                            var sum = 0;
                            var num = 0;
                            sum = product.Ratings.Sum();
                            num = product.Ratings.Length;
                            var AverageRate = sum / num;
                            <td>@AverageRate</td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>
</div>