@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{ ViewData["Title"] = "Home page"; }


@using (Html.BeginForm())
{
<div class="search-container">
    <form>
        
        <input type="text" placeholder="Search.." />
        <button type="submit">Search</button>
    </form>

</div>
    
}

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>