@page
@model ContosoCrafts.WebSite.Pages.LandingModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="header-container">
    <h1 class="landing-header title focus-in-expand-fwd">TEMPORARY WALL</h1>
    <a class="navbar-brand title focus-in-expand-fwd" asp-area="" asp-page="/Home">ENTER</a>
</div>



<link rel="stylesheet" href="/css/landing.css" id="theme-link" />