@page
@model ContosoCrafts.WebSite.Pages.LandingModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="header-container">
    <h1 class="landing-header title">TEMPORARY WALL</h1>
</div>



<link rel="stylesheet" href="/css/landing.css" id="theme-link" />