@page
@model ContosoCrafts.WebSite.Pages.LandingModel
@{
    ViewData["Title"] = "Welcome";
}

<img class="landing-img" src="/images/composition_abstraite.jpeg" alt="a painting by Serge Poliakoff" />
<div class="header-container">    
    <div class="landing-text">
        <h1 class="landing-header focus-in-expand-fwd">TEMPORARY WALL</h1>
        <a id="landing-link" class="navbar-brand focus-in-expand-fwd" asp-area="" asp-page="/Home">ENTER</a>
    </div>
</div>



<link rel="stylesheet" href="/css/landing.css" id="theme-link" />