@page
@model ContosoCrafts.WebSite.Pages.LandingModel
@{
    ViewData["Title"] = "Welcome";
}

<h1 class="landing-header">TEMPORARY WALL</h1>


<link rel="stylesheet" href="/css/landing.css" id="theme-link" />