@page
@model ContosoCrafts.WebSite.Pages.LandingModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="h-100 row align-items-center">
    <div class="col" style="background:red">
        Temporary Wall
    </div>
</div>
<link rel="stylesheet" href="/css/landing.css" id="theme-link" />