@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileMemberService MemberService
@model ContosoCrafts.WebSite.Pages.Aboutus.DeleteModel

@{ ViewData["Title"] = "Delete page"; }

<!--Delete.cshtml
    Desc: Deletes member from database
    -->
<h1>Delete</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Member.Id)

        <!--Member Title-->
        <div class="form-group">
            <label asp-for="Member.Title" class="control-label"></label>
            <input asp-for="Member.Title" class="form-control" disabled />
        </div>

        <!--Member Description-->
        <div class="form-group">
            <label asp-for="Member.Description" class="control-label"></label>
            <input asp-for="Member.Description" class="form-control" disabled />
        </div>

        <!--Member URL-->
        <div class="form-group">
            <label asp-for="Member.Url" class="control-label"></label>
            <input asp-for="Member.Url" class="form-control" disabled />
        </div>

        <!--Member Image-->
        <div class="form-group">
            <label asp-for="Member.Image" class="control-label"></label>
            <input asp-for="Member.Image" class="form-control" disabled />
        </div>

        <h1>Confirm Deletion of this item</h1>

        <!--Delete button-->
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}