@page
@model ContosoCrafts.WebSite.Pages.Aboutus.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<!--Index.cshtml
    Desc: Displays a list of all products(arts).
    -->
<div class="container">

    <!--Table of Products-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Our Team members</th>
                <th>Please Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Kramer Johnson</th>
                <th>https://github.com/HaakenJ</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Henry Song</th>
                <th>https://github.com/henryxsong</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Uchenna Nwoke</th>
                <th>https://williamnwoke.github.io/</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Zhicong Zeng</th>
                <th>https://github.com/Zhicong-Zeng</th>
            </tr>
        </tbody>
    </table>
</div>