@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileMemberService MemberService
@model ContosoCrafts.WebSite.Pages.Aboutus.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<!--
    Read.cshtml
    Desc: Displays a product's details
    -->
<h1 class="title">Read</h1>

